// Fonts

$serif: 'texgyrescholaregular';
$serif-bold: 'texgyrescholabold';
$serif-italic: 'texgyrescholaitalic';
$serif-bold-italic: 'texgyrescholabolditalic';

$sans-serif: 'Roboto', sans-serif;

// Colors

$bg: #383e4b;
$font-color: #000;
$blue: #36a9e1;
$green: #27ae60;
$red: #e74c3c;
$gray: #7f7f7f;
$smoke: #ececec;
$orange: #fc7f48;

$link-color: #252525;
$hover-color: lighten($link-color, 40%);

$border-color: #d6d6d6;

$transperent_b_3: rgba(0, 0, 0, 0.30);
$transperent_b_6: rgba(0, 0, 0, 0.50);

$transfast: ease-in-out 0.15s;
$transsmooth: ease-in-out 0.5s;

// Navbar

$navbar-height: 44px;

// Sidebar

$sidebar-width: 200px;
$sidebar-width-min: 64px;


// Device width breakpoints

$low-mobile: 320px;
$mobile: 480px;
$mobile-down: max-width 480px;
$phablet: 620px;
$phablet-down: max-width 620px;
$tablet: 768px;
$tablet-down: max-width ($tablet);
$tablet-portrait: $tablet (orientation portrait);
$desktop: 1024px;
$desktop-down: max-width 1024px;
$desktop-min: 1025px;
$desktop-hd: 1280px;
$desktop-uxga: 1600px;

$susy: (
  columns: 12,
  gutters: .25,
  container: 1024px
);
