<div style="margin-bottom: 2px;">
<button type="button" onclick="Codem.search()" class="x-btn x-btn-text bmenu x-btn-noicon" style="padding: 6px">[[%codemirror.search? &namespace=`codemirror` &topic=`default`]]</button>
<input type="text" style="width: 200px" id="cm-query" class="x-form-text x-form-field" value="" />

<button type="button" onclick="Codem.replace()" class="x-btn x-btn-text bmenu x-btn-noicon" style="padding: 6px">[[%codemirror.replace]]</button>
<input type="text" style="width: 200px" id="cm-replace" class="x-form-text x-form-field"  />
</div>
