[[$head]]
<body>
[[$GTagManager]]
<table width="846" cellpadding="0" cellspacing="0" align="center">
<tbody>
[[$header]]
<tr>
<td style="background: url('/assets/images/fon_menu.jpg') repeat-y">
<table width="846" height="27" cellpadding="0" cellspacing="0" align="center">
  <tr valign="top">
    <td width="206" height="380" align="center">
	<object type='application/x-shockwave-flash'
data='/assets/images/stories/clock.swf'
width='120' height='120'>
<param name="wmode" value="transparent">
</object>
			   <br><br>
			   <script>URL="http://img.gismeteo.ru/flash/120x60_2.swf?city=28698&cset=7";w="120";h="60";value="28698&cset=7";lang="ru";</script><script src="http://img.gismeteo.ru/flash/fcode.js"></script>
			  <br><br>
			  <img alt="Информеры - курсы валют" src="http://www.rosinvest.com/informs/120-143/black.gif" border="0" width="120" height="143">
			  <td>
			<td style="background: url('/assets/images/punktir.jpg') repeat-y" width="1"></td>
<td width="639">
<div style="margin:0px 15px 0px 15px" class="cont_big">
<div id="page">
<h1 class="componenttitle">[[*longtitle]]</h1>
[[*content]]
</div>
</div>
</td></tr>
 </table>
</td>
</tr>
[[$footer]]
</tbody>
</table>
[[$scripts]]
</body>
</html>
