	body { background: #F1EFE2; }
	body, table { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
	form { margin: 0; }
	input[readonly] { border: 1px solid #7F9DB9; background: #ffffff; }
	a { color: #0000ee; text-decoration: none; }
	a:hover { color: #0000ee; text-decoration: underline; }
	p { margin-top: 0; margin-bottom: 1em; }
	#tree-plugin, #tree-plugin-button-import-html { display: none; }
	#tree-plugin-textarea { white-space: nowrap; }
	table.section_admin_table
	{
		border-collapse:collapse;
		border:solid windowtext 1.0pt;
	}
	table.section_admin_table td
	{
		border-collapse:collapse;
		border:solid windowtext 1.0pt;
	}
	table.section_admin_table th
	{
		border-collapse:collapse;
		border:solid windowtext 1.0pt;
		text-align:left;
		vertical-align:top
	}

	input.main_form {
		width:200px
	}		.main{		font-family: Georgia, "Times New Roman", Times, serif;	line-height: 22px;	color: #b4b25b;	text-align: center;	width: 700px;	margin-right: auto;	margin-left: auto;}
.main h1{line-height: 25px;}
#sign{
	position: absolute;
	top: 0px;
}