html
body{margin:0px; padding:0px; background:url(../images/bg1.jpg) repeat; font-family:Tahoma, Arial, Verdana, Helvetica, sans-serif; color:#000000;font-size:12px;}

.menu 
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#347329;
	text-decoration:none;
	padding-left:0px;
	text-align:center;
	font-weight:bold;
	}
	
a.menu:link, a.menu:active, a.menu:visited
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#347329;
	text-decoration:none;
	padding-left:0px;
	text-align:center;
	font-weight:bold;
	}
	
a.menu:hover
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#347329;
	text-decoration:underline;
	text-align:center;
	font-weight:bold;
	}
	
.menu_sel
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1D483;
	text-decoration:none;
	padding-left:0px;
	text-align:center;
	font-weight:bold;
	}
	
a.menu_sel:link, a.menu_sel:active, a.menu_sel:visited
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1D483;
	text-decoration:none;
	padding-left:0px;
	text-align:center;
	font-weight:bold;
	}
	
a.menu_sel:hover
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1D483;
	text-decoration:underline;
	text-align:center;
	font-weight:bold;
	}	
	
	
.contact
    {
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#EFD175;
	padding-left:0px;
	margin:130px 20px 10px 0px;
	}
	
.cont_big
	{
	font-family:"Tahoma", Times New Roman, Times, serif;
	font-size:12px;
	color:#000000;
	text-align:justify;
	line-height: 1.5;
	}
	
.content
	{
	font-family:"Tahoma", Times New Roman, Times, serif;
	font-size:11px;
	color:#000000;
	text-align:justify;
	line-height: 1.5;
	}
	
a.content
    {
	font-family:"Tahoma", Times New Roman, Times, serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	}

a.cont_big
    {
	font-family:"Tahoma", Times New Roman, Times, serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	}

p
    {
	text-indent:32px;
	line-height: 1.5;
	}
	
.copyright
    {
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	
	}

a.copyright:link, a.copyright:active, a.copyright:visited
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:none;
	
	}
a.copyright:hover
	{
	font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:underline;
	
	}

.tab {padding-right:17px;}
	
.pic { border:solid 1px #494949}

.class_room { font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;	font-size:11px; font-weight:bold; color:#3D3D3D}
a.class_room:link, a.class_room:active, a.class_room:visited { font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif;	font-size:11px; font-weight:bold; color:#3D3D3D; text-decoration:none}  
a.class_room:hover { font-family:"Tahoma", Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#3D3D3D; text-decoration:underline} 

.calc{width:180px; height:188px; margin:20px 0px 20px 0px}