[[!+fi.successMessage:is=``:then=`
[[!FormIt?
  &hooks=`email,spam,FormItAutoResponder,FormItSaveForm`
  &submitVar=`booking-form`
  &emailTpl=`bookingEmail`
  &formName=`Booking`
  &fiarTpl=`bookingRespond_en`
  &fiarFrom=`contact@lermontov-hotel.ru`
  &fiarFromName=`Hotel Lermontov`
  &emailSubject=`Room booking`
  &emailTo=`contact@lermontov-hotel.ru`
  &emailBCC=`rallyru@mail.ru`
  &emailFrom=`contact@lermontov-hotel.ru`
  &emailFromName=`Hotel Lermontov`
  &emailReplyTo=`[[+email]]`
  &emailReplyToName=`[[+name]]`
  &successMessage=`success`
  &validate=`
    name:required:stripTags,
    email:email:required,
    phone:required,
    check_in_date:required,
    check_out_date:required,
    check_in_time:required,
    check_out_time:required,
    room_category:required,
    room_amount:required
  `
  &clearFieldsOnSuccess=`1`
  &validationErrorMessage=`The message has not been sent`
]]
[[!+fi.error_message]]
<form class="form" method="post" id="userForm" enctype="multipart/form-data" action="[[~[[*id]]]]" name="booking-form">
<fieldset class="formFieldset">

<ol class="formContainer" id="rsform_5_page_0">
  <li>
    <div class="formCaption">Your name<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="text" value="" size="40"  name="name" value="[[!+fi.name]]" id="FullName" required /><span class="formClr"><span id="component55" class="formNoError">[[!+fi.error.name]].</span></span></div>
    <div class="formDescription"></div>
  </li>
  <li class="form-control_type_date">
    <div class="formCaption">Expected arrival date<strong class="formRequired">*</strong></div>
    <div class="formBody">
      <div class="date-picker">
        <input id="txtcal0" name="check_in_date" value="" type="text" required />
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal0Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </div>
    <div id="cal0Container" style="clear:both;display:none;position:absolute;z-index:9997"></div><span class="formClr">[[!+fi.error.check_in_date]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Arrival time<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="text" value="00:00" size="20" maxlength="5" name="check_in_time" id="timeon" required /><span class="formClr">[[!+fi.error.check_in_time]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li class="form-control_type_date">
    <div class="formCaption">Expected departure date<strong class="formRequired">*</strong></div>
    <div class="formBody">
      <div class="date-picker">
        <input id="txtcal1" name="check_out_date" type="text" value="" required />
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal1Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </div>
    <div id="cal1Container" style="clear:both;display:none;position:absolute;z-index:9995"></div><span class="formClr">[[!+fi.error.check_out_date]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Departure time<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="text" value="00:00" size="20" maxlength="5" name="check_out_time" id="timeoff" required /><span class="formClr">[[!+fi.error.check_out_time]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Room category<strong class="formRequired">*</strong></div>
    <div class="formBody"><select  name="room_category"  id="category"  ><option  value="стандарт эконом">Standard Economy</option><option  value="стандарт">Standard</option><option  value="стандарт улучшенный">Standard improved</option><option  value="бизнес">Business</option><option  value="бизнес улучшенный">Business improved</option><option  value="люкс 1">Deluxe 1</option><option  value="люкс 2">Deluxe 2</option></select><span class="formClr">[[!+fi.error.room_category]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Number of rooms<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="number" value="" size="4" maxlength="2" name="room_amount" id="amount" required /><span class="formClr">[[!+fi.error.room_amount]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Form of payment</div>
    <div class="formBody"><select  name="payment"  id="oplata"  ><option  value="наличный расчет">Cash</option><option  value="безналичный расчет">Noncash</option><option  value="кредитная карта">Credit card</option></select><span class="formClr"><span id="component62" class="formNoError">[[!+fi.error.payment]]</span></span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Transfer service</div>
    <div class="formBody">
      <label for="transfer0"><input  name="transfer" type="radio" value="да" id="transfer0"  /> Yes</label>
      <br>
      <label for="transfer1"><input  name="transfer" type="radio" value="нет" checked id="transfer1"  /> No</label>
      <span class="formClr">[[!+fi.error.transfer]]</span>
    </div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Phone number<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="tel" value="" size="20"  name="phone" id="phone" required /><span class="formClr">[[!+fi.error.phone]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">E-mail<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="email" value="" size="20"  name="email" id="Email" required /><span class="formClr">[[!+fi.error.email]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption"></div>
    <div class="formBody">
      <input type="submit" class="button" name="booking-form" value="Book">
    </div>
  </li>
</ol>
</fieldset>
</form>
`:else=`
  <h2>Thank you!</h2>
  <p>Booking is accepted. Our managers will contact you<p>
`]]

<script src="[[++static_url]]js/cal.js"></script>

<script type="text/javascript">//CALENDAR SETUP
var MONTHS_SHORT 	 = Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
var MONTHS_LONG 	 = Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
var WEEKDAYS_1CHAR  = Array("Su", "M","Tu","W","Th","F","Sa");
var WEEKDAYS_SHORT  = Array("Su", "M","Tu","W","Th","F","Sa");
var WEEKDAYS_MEDIUM = Array("Sun", "Mon","Tue","Wed","Thu","Fri","Sat");
var WEEKDAYS_LONG 	 = Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
var START_WEEKDAY 	 = 1;</script>
<script type="text/javascript" defer="defer">rsf_CALENDAR.util.Event.addListener(window, "load", init(Array('POPUP','POPUP'),Array('dd.mm.yyyy','dd.mm.yyyy'),Array('','')));</script>