[[!+fi.successMessage:is=``:then=`
[[!FormIt?
  &hooks=`email,spam,FormItSaveForm`
  &submitVar=`callbackSubmit`
  &emailTpl=`callbackEmail`
  &formName=`Заказ звонка`
  &emailSubject=`Заказ звонка с сайта «[[++site_name]]»`
  &emailTo=`contact@lermontov-hotel.ru`
  &emailBCC=`rallyru@mail.ru`
  &emailFrom=`contact@lermontov-hotel.ru`
  &emailFromName=`Отель Лермонтов`
  &successMessage=`success`
  &validate=`
    cb_name::stripTags,
    cb_phone::required
  `
  &clearFieldsOnSuccess=`1`
  &validationErrorMessage=`Сообщение не отправлено`
]]
[[!+fi.error_message]]
  <form class="ajax-form" method="post" action="[[~43]]" name="callback-form">
	<h2>[[++cultureKey:is=`en`:then=`Fill in your phone number and we will call you back`:else=`Оставьте номер и мы вам перезвоним`]]!</h2>
	<span class="form-control callback-form__name">
	  <span class="form-control__label"></span>
	  <input type="tel" size="20" name="cb_phone" id="cb_phone" required placeholder="+7 XXX XXX XX XX">
	</span>

	<span class="form-control callback-form__name">
	  <span class="form-control__label">[[++cultureKey:is=`en`:then=`Your name (optional)`:else=`Ваше имя (не обязательно)`]]</span>
	  <input type="text" size="20" name="cb_name" id="cb_name">
	</span>
	<input type="submit" class="button" name="callbackSubmit" value="[[++cultureKey:is=`en`:then=`Call me`:else=`Позвоните мне!`]]">

  </form>
  <span class="callback__close"></span>
`:else=`
  <h2>[[++cultureKey:is=`en`:then=`Thank you`:else=`Спасибо`]]!</h2>
  <p>[[++cultureKey:is=`en`:then=`Our managers will contact you`:else=`Наши менеджеры свяжутся с Вами!`]].<p>
`]]