[[!+fi.successMessage:is=``:then=`
[[!FormIt?
  &hooks=`email,spam,FormItAutoResponder,FormItSaveForm`
  &submitVar=`feedback`
  &emailTpl=`feedbackEmail`
  &formName=`Обратная связь`
  &fiarTpl=`feedbackRespond`
  &emailSubject=`Сообщение с сайта «[[++site_name]]»`
  &emailTo=`contact@lermontov-hotel.ru`
  &emailBCC=`rallyru@mail.ru`
  &emailFrom=`contact@lermontov-hotel.ru`
  &emailFromName=`Отель Лермонтов`
  &emailReplyTo=`[[+email]]`
  &emailReplyToName=`[[+name]]`
  &successMessage=`success`
  &validate=`
    name:required:stripTags,
    lastname:blank,
    email:email:required,
    message:required:stripTags
  `
  &clearFieldsOnSuccess=`1`
  &validationErrorMessage=`Сообщение не отправлено`
]]
[[!+fi.error_message]]
<form class="form" method="post" id="userForm" enctype="multipart/form-data" action="[[~[[*id]]]]" name="feedback-form">
<fieldset class="formFieldset">
  <ol class="formContainer">
    <li>
      <div class="formCaption">ФИО *</div>
      <div class="formBody"><input type="text" size="30" name="name" id="FullName" value="[[!+fi.name]]" required /><div class="formClr"></div><span id="component32" class="formNoError">[[!+fi.error.name]]</span></div>
    </li>
    <li>
      <div class="formCaption">Ваше сообщение *</div>
      <div class="formBody"><textarea rows="5" cols="30" name="message" id="message" required >[[!+fi.message]]</textarea><div class="formClr"></div><span id="component43" class="formNoError">[[!+fi.error.message]]</span></div>
    </li>
    <li>
      <div class="formCaption">E-mail *</div>
      <div class="formBody"><input type="email" size="30"  name="email" id="Email" value="[[!+fi.email]]" required /><div class="formClr"></div><span id="component33" class="formNoError">[[!+fi.error.email]]</span></div>
    </li>
    <li style="position: absolute; opacity: 0; visibility: hidden;">
      <div class="formCaption">Пустое поле</div>
      <div class="formBody"><input type="text" size="30"  name="lastname" value="[[!+fi.lastname]]" autocomplete="false" /><div class="formClr"></div><span id="component33" class="formNoError">[[!+fi.error.lastname]]</span></div>
    </li>
    <li>
      <div class="formCaption"></div>
      <div class="formBody">
        <input type="submit" class="button" name="feedback" value="Отправить">
      </div>
    </li>
  </ol>
</fieldset>
</form>
`:else=`
  <h2>Спасибо!</h2>
  <p>Сообщение принято. Наши менеджеры свяжутся с Вами.<p>
`]]
