[[!+fi.successMessage:is=``:then=`
[[!FormIt?
  &hooks=`email,spam,FormItAutoResponder,FormItSaveForm`
  &submitVar=`booking`
  &emailTpl=`bookingEmail`
  &formName=`Бронирование`
  &fiarTpl=`bookingRespond`
  &fiarFrom=`contact@lermontov-hotel.ru`
  &fiarFromName=`Отель Лермонтов`
  &emailSubject=`Заявка на бронирование номера`
  &emailTo=`contact@lermontov-hotel.ru`
  &emailBCC=`rallyru@mail.ru`
  &emailFrom=`contact@lermontov-hotel.ru`
  &emailFromName=`Отель Лермонтов`
  &emailReplyTo=`[[+email]]`
  &emailReplyToName=`[[+name]]`
  &successMessage=`success`
  &validate=`
    name:required:stripTags,
    email:email:required,
    phone:required,
    check_in_date:required,
    check_out_date:required,
    check_in_time:required,
    check_out_time:required,
    room_category:required,
    room_amount:required
  `
  &clearFieldsOnSuccess=`1`
  &validationErrorMessage=`Сообщение не отправлено`
]]
[[!+fi.error_message]]
<form class="form" method="post" id="userForm" enctype="multipart/form-data" action="[[~[[*id]]]]">
<fieldset class="formFieldset">

<ol class="formContainer" id="rsform_5_page_0">
  <li>
    <div class="formCaption">ФИО<strong class="formRequired">*</strong></div>
    <div class="formBody">
    <input type="text" value="" size="40"  name="name" value="[[!+fi.name]]" id="FullName" required />
    <span class="formClr"><span id="component55" class="formNoError">[[!+fi.error.name]].</span></span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Предполагаемая дата заезда<strong class="formRequired">*</strong></div>
    <div class="formBody">
      <div class="date-picker">
        <input id="txtcal0" name="check_in_date" value="" type="text" required />
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal0Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </div>
    <div id="cal0Container" style="clear:both;display:none;position:absolute;z-index:9997"></div><span class="formClr">[[!+fi.error.check_in_date]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Время заезда<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="text" value="00:00" size="20" maxlength="5" name="check_in_time" id="timeon" required /><span class="formClr">[[!+fi.error.check_in_time]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Предполагаемая дата выезда<strong class="formRequired">*</strong></div>
    <div class="formBody">
      <div class="date-picker">
        <input id="txtcal1" name="check_out_date" type="text" value="" required />
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal1Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </div>
    <div id="cal1Container" style="clear:both;display:none;position:absolute;z-index:9995"></div><span class="formClr">[[!+fi.error.check_out_date]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Время выезда<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="text" value="00:00" size="20" maxlength="5" name="check_out_time" id="timeoff" required /><span class="formClr">[[!+fi.error.check_out_time]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li style="display: none;">
    <div class="formCaption">Категория номера<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="hidden" name="room_category" id="category" value="[[*room_category]]" ></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Количество номеров<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="text" value="" size="4" maxlength="2" name="room_amount" id="amount" required /><span class="formClr">[[!+fi.error.room_amount]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Форма оплаты</div>
    <div class="formBody"><select  name="payment"  id="oplata"  ><option  value="наличный расчет">наличный расчет</option><option  value="безналичный расчет">безналичный расчет</option><option  value="кредитная карта">кредитная карта</option></select><span class="formClr"><span id="component62" class="formNoError">[[!+fi.error.payment]]</span></span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Услуги трансфера</div>
    <div class="formBody">
      <label for="transfer0"><input  name="transfer" type="radio" value="да" id="transfer0"  /> да</label>
      <br>
      <label for="transfer1"><input  name="transfer" type="radio" value="нет" id="transfer1"  /> нет</label>
      <span class="formClr">[[!+fi.error.transfer]]</span>
    </div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">Контактный телефон<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="tel" value="" size="20"  name="phone" id="phone" required /><span class="formClr">[[!+fi.error.phone]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption">E-mail<strong class="formRequired">*</strong></div>
    <div class="formBody"><input type="email" value="" size="20"  name="email" id="Email" required /><span class="formClr">[[!+fi.error.email]]</span></div>
    <div class="formDescription"></div>
  </li>
  <li>
    <div class="formCaption"></div>
    <div class="formBody">
    <input type="submit" class="button" name="booking" value="Забронировать">
    </div>
  </li>
</ol>
</fieldset>
</form>
`:else=`
  <h2>Спасибо!</h2>
  <p>Заявка на бронирование принята. Наши менеджеры свяжутся с Вами.<p>
`]]

<script src="/assets/js/cal.js"></script>

<script type="text/javascript">//CALENDAR SETUP
var MONTHS_SHORT 	 = Array("Янв","Фев","Мар","Апр","Май","Июн","Июл","Авг","Сен","Окт","Ноя","Дек");
var MONTHS_LONG 	 = Array("Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь");
var WEEKDAYS_1CHAR  = Array("П","В","С","Ч","П","С","В");
var WEEKDAYS_SHORT  = Array("Вс","Пн","Вт","Ср","Чт","Пт","Сб");
var WEEKDAYS_MEDIUM = Array("Пон","Вт","Ср","Чт","Пт","Сб","Вс");
var WEEKDAYS_LONG 	 = Array("Понед","Вторник","Среда","Четв","Пятн","Субб","Воскр");
var START_WEEKDAY 	 = 1;</script>
<script type="text/javascript" defer="defer">rsf_CALENDAR.util.Event.addListener(window, "load", init(Array('POPUP','POPUP'),Array('dd.mm.yyyy','dd.mm.yyyy'),Array('','')));</script>