<div class="speed-booking">
  <div class="speed-booking__title">Быстрое бронирование</div>
  <div class="speed-booking__body">
  [[!+fi.successMessage:is=``:then=`
  [[!FormIt?
    &hooks=`email,spam,FormItAutoResponder,FormItSaveForm`
    &submitVar=`quick-booking`
    &emailTpl=`speedBookingEmail`
    &formName=`Быстрое бронирование`
    &fiarFrom=`contact@lermontov-hotel.ru`
    &fiarFromName=`Отель Лермонтов`
    &fiarTpl=`bookingRespond`
    &fiarSubject=`Подтверждение заявки на бронирование`
    &emailSubject=`Заявка быстрого бронирования`
    &emailTo=`contact@lermontov-hotel.ru`
    &emailBCC=`rallyru@mail.ru`
    &emailFrom=`contact@lermontov-hotel.ru`
    &emailFromName=`Отель Лермонтов`
    &emailReplyTo=`[[+email]]`
    &emailReplyToName=`[[+name]]`
    &successMessage=`success`
    &validate=`
      email:email:required,
      check_in_date:required,
      check_out_date:required,
      room_category:required,
      phone:required
    `
    &clearFieldsOnSuccess=`1`
    &validationErrorMessage=`Сообщение не отправлено`
  ]]
  [[!+fi.error_message]]
  <form action="[[~[[*id]]]]" method="post" class="speed-booking__form form_layout_horiz">
    <span class="form-control form-control_type_date speed-booking__date">
      <span class="form-control__label">Дата заезда*</span>
      <span class="date-picker">
        <input type="text" id="txtcal0" required name="check_in_date">
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal0Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </span>
      [[!+fi.error.check_in_date]]
      <div id="cal0Container" style="clear:both;display:none;position:absolute;z-index:9997"></div>
    </span>
    <span class="form-control form-control_type_date speed-booking__date">
      <span class="form-control__label">Дата выезда*</span>
      <span class="date-picker">
        <input type="text" id="txtcal1" required name="check_out_date">
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal1Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </span>
      [[!+fi.error.check_out_date]]
      <div id="cal1Container" style="clear:both;display:none;position:absolute;z-index:9997"></div>
    </span>

    <span class="form-control">
      <span class="form-control__label">Категория номера</span>
      <select name="room_category" id="category"><option value="Стандарт эконом">Стандарт эконом</option><option value="Стандарт" selected>Стандарт</option><option value="Стандарт улучшенный">Стандарт улучшенный</option><option value="Бизнес">Бизнес</option><option value="Бизнес улучшенный">Бизнес улучшенный</option><option value="Люкс 1">Люкс</option></select>
      [[!+fi.error.room_category]]
    </span>
    <span class="form-control speed-booking__name">
      <span class="form-control__label">Ваше имя *</span>
      <input type="text" size="20" name="name" id="name" required>
    </span>

    <span class="form-control speed-booking__email">
      <span class="form-control__label">Эл. почта *</span>
      <input type="email" required name="email">
      [[!+fi.error.email]]
    </span>

    <span class="form-control speed-booking__phone">
      <span class="form-control__label">Телефон *</span>
      <input type="tel" size="20" name="phone" id="phone" required>
    </span>
    <input type="submit" class="button button_size_s" value="Забронировать"  name="quick-booking" style="width: auto !important;">

  </form>
  <script src="[[++static_url]]js/cal.js"></script>
  <script type="text/javascript">//CALENDAR SETUP
  var MONTHS_SHORT 	 = Array("Янв","Фев","Мар","Апр","Май","Июн","Июл","Авг","Сен","Окт","Ноя","Дек");
  var MONTHS_LONG 	 = Array("Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь");
  var WEEKDAYS_1CHAR  = Array("П","В","С","Ч","П","С","В");
  var WEEKDAYS_SHORT  = Array("Вс","Пн","Вт","Ср","Чт","Пт","Сб");
  var WEEKDAYS_MEDIUM = Array("Пон","Вт","Ср","Чт","Пт","Сб","Вс");
  var WEEKDAYS_LONG 	 = Array("Понед","Вторник","Среда","Четв","Пятн","Субб","Воскр");
  var START_WEEKDAY 	 = 1;</script>
  <script type="text/javascript" defer="defer">rsf_CALENDAR.util.Event.addListener(window, "load", init(Array('POPUP','POPUP'),Array('dd.mm.yyyy','dd.mm.yyyy'),Array('','')));</script>
  `:else=`
  <div class="speed-booking__message">
    <h2>Спасибо!</h2>
    <p>Заявка на бронирование принята. Наши менеджеры свяжутся с Вами.</p>
  </div>
`]]
  </div>
</div>