<div class="speed-booking">
  <div class="speed-booking__title">Quick booking</div>
  <div class="speed-booking__body">
  [[!+fi.successMessage:is=``:then=`
  [[!FormIt?
    &hooks=`email,spam,FormItAutoResponder,FormItSaveForm`
    &submitVar=`quick-booking`
    &emailTpl=`speedBookingEmail`
    &formName=`Quick booking`
    &fiarFrom=`contact@lermontov-hotel.ru`
    &fiarFromName=`Hotel Lermontov`
    &fiarTpl=`bookingRespond_en`
    &fiarSubject=`Room booking confirmation`
    &emailSubject=`Quick booking`
    &emailTo=`contact@lermontov-hotel.ru`
    &emailBCC=`rallyru@mail.ru`
    &emailFrom=`contact@lermontov-hotel.ru`
    &emailFromName=`Hotel Lermontov`
    &emailReplyTo=`[[+email]]`
    &emailReplyToName=`[[+name]]`
    &successMessage=`success`
    &validate=`
      email:email:required,
      check_in_date:required,
      check_out_date:required,
      room_category:required,
      phone:required
    `
    &clearFieldsOnSuccess=`1`
    &validationErrorMessage=`The message has not been sent`
  ]]
  [[!+fi.error_message]]
  <form action="[[~[[*id]]]]" method="post" class="speed-booking__form form_layout_horiz" name="quick-booking-form">
    <span class="form-control form-control_type_date speed-booking__date">
      <span class="form-control__label">Arrival*</span>
      <span class="date-picker">
        <input type="text" id="txtcal0" required name="check_in_date">
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal0Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </span>
      [[!+fi.error.check_in_date]]
      <div id="cal0Container" style="clear:both;display:none;position:absolute;z-index:9997"></div>
    </span>
    <span class="form-control form-control_type_date speed-booking__date">
      <span class="form-control__label">Departure*</span>
      <span class="date-picker">
        <input type="text" id="txtcal1" required name="check_out_date">
        <span class="calendar-toggle date-picker__icon" onclick="showHideCalendar('cal1Container');"><i class="icon icon_size_s icon-calendar"></i></span>
      </span>
      [[!+fi.error.check_out_date]]
      <div id="cal1Container" style="clear:both;display:none;position:absolute;z-index:9997"></div>
    </span>

    <span class="form-control">
      <span class="form-control__label">Room category</span>
      <select name="room_category" id="category"><option value="Стандарт эконом">Standard Economy</option><option value="Стандарт" selected>Standard</option><option value="Стандарт улучшенный">Standard improved</option><option value="Бизнес">Business</option><option value="Бизнес улучшенный">Business improved</option><option value="Люкс 1">Deluxe</option></select>
      [[!+fi.error.room_category]]
    </span>
    <span class="form-control speed-booking__name">
      <span class="form-control__label">Your Name *</span>
      <input type="text" size="20" name="name" id="name" required>
    </span>

    <span class="form-control speed-booking__email">
      <span class="form-control__label">Email *</span>
      <input type="email" required name="email">
      [[!+fi.error.email]]
    </span>

    <span class="form-control speed-booking__phone">
      <span class="form-control__label">Phone *</span>
      <input type="tel" size="20" name="phone" id="phone" required>
    </span>
    <input type="hidden" name="quick-booking-form">
    <input type="submit" class="button button_size_s" name="quick-booking" value="Book" style="width: auto !important;">
  </form>
  <script src="[[++static_url]]js/cal.js"></script>
<script type="text/javascript">//CALENDAR SETUP
var MONTHS_SHORT 	 = Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
var MONTHS_LONG 	 = Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
var WEEKDAYS_1CHAR  = Array("Su", "M","Tu","W","Th","F","Sa");
var WEEKDAYS_SHORT  = Array("Su", "M","Tu","W","Th","F","Sa");
var WEEKDAYS_MEDIUM = Array("Sun", "Mon","Tue","Wed","Thu","Fri","Sat");
var WEEKDAYS_LONG 	 = Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
var START_WEEKDAY 	 = 1;</script>
  <script type="text/javascript" defer="defer">rsf_CALENDAR.util.Event.addListener(window, "load", init(Array('POPUP','POPUP'),Array('dd.mm.yyyy','dd.mm.yyyy'),Array('','')));</script>
  `:else=`
  <div class="speed-booking__message">
    <h2>Thank you!</h2>
    <p>Booking is accepted. Our managers will contact you<p>
  </div>
`]]
  </div>
</div>