[[$head]]
<body class="page [[++cultureKey]]">
[[$GTagManager]]
<div class="page__inner">
[[$header]]
<div class="content">
<div class="content__inner">
<div id="page">
<h1 class="title title_level_1">[[*longtitle]]</h1>
[[*content]]
</div>
</div>
</div>
[[[[++cultureKey:is=`en`:then=`$footer_en`:else=`$footer`]]]]
</div>
[[$scripts]]
</body>
</html>
