[[$head]]
<body class="page">
[[$GTagManager]]
<div class="page__inner">
[[$header]]
<div class="content">
 <div class="content__inner">
  <div id="page">
  <h1 class="title title_level_1">[[*longtitle]]</h1>
  [[*content]]
  
  [[!getResources?
    &parents=`[[*id]]`
    &depth=`0`
    &includeTVs=`1`
    &processTVs=`1`
    &tpl=`room_details`
    &limit=`0`
    &sortby=`{"menuindex":"ASC"}`
  ]]
  </div>
  </div>
  </div>
</div>
[[[[++cultureKey:is=`en`:then=`$footer_en`:else=`$footer`]]]]
[[$scripts]]
</body>
</html>
