[[$head]]
<body class="page">
[[$GTagManager]]
<div class="page__inner">
[[$header]]
<div class="content">
 <div class="content__inner">
  <div id="page">
  <h1 class="title title_level_1">[[*longtitle:default=`[[*pagetitle]]`]]</h1>
  [[*content]]
  </div>
  </div>
  </div>
</div>
[[[[++cultureKey:is=`en`:then=`$footer_en`:else=`$footer`]]]]
[[$scripts]]
</body>
</html>
