form {
  margin: 0;
}

input[readonly] {
  border: 1px solid #7F9DB9;
  background: #ffffff;
}

a {
  color: #0000ee;
  text-decoration: none;
}

a:hover {
  color: #0000ee;
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

#tree-plugin,
#tree-plugin-button-import-html {
  display: none;
}

#tree-plugin-textarea {
  white-space: nowrap;
}

table.section_admin_table {
  border-collapse: collapse;
  border: solid windowtext 1.0pt;
}

table.section_admin_table td {
  border-collapse: collapse;
  border: solid windowtext 1.0pt;
}

table.section_admin_table th {
  border-collapse: collapse;
  border: solid windowtext 1.0pt;
  text-align: left;
  vertical-align: top
}

input.main_form {
  width: 200px
}

.main {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 22px;
  color: #b4b25b;
  text-align: center;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.main h1 {
  line-height: 25px;
}

#sign {
  position: absolute;
  top: 0px;
}

a.content {
  font-family: "Tahoma", Times New Roman, Times, serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}

a.cont_big {
  font-family: "Tahoma", Times New Roman, Times, serif;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.class_room {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: #000;
  text-align: left;
  vertical-align: middle;
  padding: 5px;
}

a.class_room:link,
a.class_room:active,
a.class_room:visited {
  font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3D3D3D;
  text-decoration: none
}

a.class_room:hover {
  font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3D3D3D;
  text-decoration: underline
}

.tab {
  padding-right: 17px;
}

.pic {
  border: solid 1px #494949
}

.calc {
  width: 180px;
  height: 188px;
  margin: 20px 0px 20px 0px
}

table.rezervation td,
table.order td {
  padding: 5px;
  width: 50%;
  text-align: left;
}

img#captcha30,
img#captcha42,
img#captcha54,
img#captcha76,
img#captcha87,
img#captcha98,
img#captcha109,
img#captcha120,
img#captcha131,
img#captcha142 {
  float: left;
  margin-right: 10px;
}

h3 {
  font-size: 25px;
  font-weight: normal;
}

.price td {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 50%;
  border: 1px dotted #333333;
}

.nomer_caption {
  background-color: #996600;
  display: block;
  margin: 0px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 60%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
}

table.cat_nomer td {
  text-align: center;
  vertical-align: top;
}

h2.bread {
  font-size: 12px;
  color: #000000;
}

h2.bread a {
  text-decoration: underline;
  color: #000000;
}

ul.room_foto {
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
}

ul.room_foto li {
  padding: 0px;
  list-style-type: none;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

ul.room_foto img {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.price {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-style: italic;
  color: #000000;
  text-align: right;
  padding-right: 40px;
  margin-bottom: 20px;
}

table.price {
  font-size: 1em;
  text-align: center;
}

.order {
  text-align: center;
  overflow: hidden;
  display: block;
  margin-bottom: 30px;
}

.order a {
  display: block;
  float: right;
  width: 30%;
  margin-right: 40px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #339966;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  font-weight: bold;
  color: #e9d080;
  background-image: url(/assets/images/bg3.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.order a:hover {
  color: #FFFFFF;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.formFieldset {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

img#captcha65 {
  float: left;
  margin-right: 10px;
}

.newprice {
  font-size: 14px;
  color: #ff0000;
}

#fancybox-wrap,
#fancybox-content {
  box-sizing: content-box;
}

#fancybox-wrap a {
  border: none;
}

.map {
  margin: .5em 0;
}
