Добрый день, [[+name]],<br>
мы получили Вашу заявку. В скором времени мы ответим Вам [[+email]] <br><br>
---------------------------------------------- <br><br>
www.lermontov-hotel.ru <br><br>
Омск, ул. Лермонтова, 77<br><br>
тел. +7 (3812) 37-22-11
