Dear [[+name]],<br>
Booking is accepted. Our managers will contact you<br><br>
---------------------------------------------- <br><br>
www.lermontov-hotel.ru <br><br>
77 Lermontova street, <br>
Omsk, Russia, 644070<br><br>
+7 (3812) 37-22-11
