<h1>Бронирование номера</h1>

ФИО: [[+name]]
<hr>
Предполагаемая дата заезда: [[+check_in_date]]  /  Время заезда:[[+check_in_time]]
<hr>
Предполагаемая дата выезда: [[+check_out_date]]  /  Время выезда:[[+check_out_time]]
<hr>
Категория номера: [[+room_category]]
<hr>
Количество номеров: [[+room_amount]]
<hr>
Форма оплаты: [[+payment]]
<hr>
Услуги трансфера: [[+transfer]]
<hr>
Контактный телефон: [[+phone]]
<hr>
E-mail: [[+email]]
