<h1>Бронирование номера</h1>

ФИО: [[+name]]
<hr>
Предполагаемая дата заезда: [[+check_in_date]]
<hr>
Предполагаемая дата выезда: [[+check_out_date]]
<hr>
Категория номера: [[+room_category]]
<hr>
Контактный телефон: [[+phone]]
<hr>
E-mail: [[+email]]
