* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: $font-color;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
}

h2 {
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
    margin-top: 2em;
}

img {
	max-width: 100%;
}

ol li {
	margin-bottom: .5em;
}

p {
    margin-bottom: 1.5em;
}

.center {
    float: none;
    margin: 0 auto;
}
