.btn {
  padding: .5em 1em;
  outline: none;
}

.button-text-arrow {
  display: inline-block;
  height: .5em;
  line-height: .25;
  font-size: 28px;
  vertical-align: middle;
}

.btn-delete-left {
    float: left;
    // margin-right: 280px;
}

.btn:disabled {
  background-color: rgba(0,0,0,0.2);
}

.button {
  font-size: 12px;
  display: inline-block;
  font-weight: 700;
  line-height: 32px;
  padding: 0 1em;
  letter-spacing: 1px;
  border: none;
  background: #FFD54F;
  transition: border $transfast;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
//  border: 1px solid shade(#FFD54F, 20%);
//  box-shadow: 0 1px 2px rgba(black, .1);

  &:hover {
    background: tint(#FFD54F, 15%);
  }

  &:active {
    background: darken(#FFD54F, 5%);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &_size {
    &_s {
      height: 30px;
      line-height: 30px;
    }
  }
}
