@keyframes expandCallbackBtn {
  0% {
    opacity: 0;
    width: 3em;
    padding: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 13em;
    padding: 0 1.5em 0 3.75em;
  }
}

@mixin expandCallbackBtn {
  animation: expandCallbackBtn .255s 2.25s ease-out;
  animation-fill-mode: forwards;
}

.callback {
  position: fixed;
  z-index: 1200;
  right: 0;
  bottom: 0;

  &-btn {
    @include zoomIn;

    position: fixed;
    right: 2em;
    bottom: 2em;
    min-width: 3em;
    height: 3em;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba($red, .75),
                0 2px 4px rgba(black, .25);
    opacity: 0;
    transition: all $transfast;
    transform: scale(.1);
    border-radius: 3em;
    background: white;

    &__icon {
      @include circle(3em);

      position: absolute;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      background: $red url('../images/phone.svg');
      background-position: center center;
      background-size: 65%;
      background-repeat: no-repeat;
    }

    &__label {
      @include expandCallbackBtn;

      display: inline-block;
      position: relative;
      width: 0;
      opacity: 0;
      line-height: 3em;
      white-space: nowrap;
    }

    &:hover {
      color: white;
      opacity: 1;
      box-shadow: 0 4px 10px rgba(black, .25);
      background-color: tint($red, 15%);
    }

    &:active {
      background-color: darken($red, 5%);
    }
  }

  &__form {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    padding: 3em 2em 2em;
    max-width: 320px;
    background: white;
    box-shadow: -4px 0 20px rgba(black, .1);
    transform: translateX(100%);
    transition: transform $transsmooth;

    @include breakpoint($tablet) {
      padding-top: 5em;
    }

    .form-control {
      display: block;
      margin-bottom: 1.5em;
    }

    &_visible {
      transform: translateX(0);
    }
  }

  &__close {
    @include square(44px);

    position: absolute;
    top: 1em;
    right: 1.25em;
    text-align: center;
    cursor: pointer;

    line-height: 44px;

    &:before {
      content: '\00d7';
      font-size: 32px;
    }
  }
}