/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.2
*/

.txtCal{
	width: 210px;
}
.btnCal{
	padding-left:5px;
	padding-right: 5px;
}
.yui-calcontainer {
  position:relative;
  overflow:hidden;
  float:left;
  min-width: 16em;
  padding:5px;
  background-color: white;
  border:1px solid tint($gray, 40);
  box-shadow: 0 10px 20px rgba(black, .15)
}

.yui-calcontainer iframe {
	position:absolute;
	border:none;
	margin:0;padding:0;
	left:-1px;
	top:-1px;
	z-index:0;
	width:50em;
	height:50em;
}

.yui-calcontainer.multi {
	padding:0;
}

.yui-calcontainer.multi .groupcal {
	padding:5px;
	background-color:transparent;
	z-index:1;
	float:left;
	position:relative;
	border:none;
}

.yui-calcontainer .title {
	font:100% sans-serif;
	color:#000;
	margin-bottom:5px;
	height:25px;
	position:absolute;
	top:3px;left:5px;
	z-index:1;
}

.yui-calcontainer .close-icon {
	position:absolute;
	right:3px;
	top:3px;
	border:none;
	z-index:1;
}

.yui-calcontainer .calclose {
	background: url("calx.gif") no-repeat;
	width:17px;
	height:13px;
	cursor:pointer;
}

/* Calendar element styles */

.yui-calendar {
  font-weight: 400;
  text-align:center;
  border-spacing:0;
  border-collapse:separate;
  position:relative;
}

.yui-calcontainer.withtitle {
	padding-top:1.5em;
}

.yui-calendar .calnavleft,
.yui-calendar .calnavright {
  @extend .rs-icon;
  @include circle(32px);

  font-size: 16px;
  position:absolute;
  z-index:1;
  top: -5px;
  cursor:pointer;
  line-height: 28px;
  text-align: center;
  color: $gray;
  text-decoration: none;

  &:hover {
    border: none;
    background: $smoke;
  }
}

.yui-calendar .calnavleft {
  @extend .icon-left-open-big;
  left: 2px;
}

.yui-calendar .calnavright {
  @extend .icon-right-open-big;
  right: 2px;
}

.yui-calendar td.calcell {
  padding: .25em;
  border: none;
  text-align:center;
  border-radius: 2px;
}

.yui-calendar td.calcell a {
  color: $link-color;
  border: none;
  text-decoration:none;
  transition: none;
}

.yui-calendar td.calcell.today {
  background: $green;
  border: none;

  a {
    color: white;
  }
}

.yui-calendar td.calcell.oom {
	cursor:default;
	color:#999;
	border: none;
}

.yui-calendar td.calcell.selected {
	color:#003DB8;
	background-color:#FFF19F;
}

.yui-calendar td.calcell.calcellhover {
	cursor:pointer;
	background-color: $smoke;
}

.yui-calendar td.calcell.restricted {
	text-decoration:line-through;
}

.yui-calendar td.calcell.previous {
	color:#CCC;
}

.yui-calendar td.calcell.highlight1 { background-color:#CCFF99; }
.yui-calendar td.calcell.highlight2 { background-color:#99CCFF; }
.yui-calendar td.calcell.highlight3 { background-color:#FFCCCC; }
.yui-calendar td.calcell.highlight4 { background-color:#CCFF99; }

.yui-calendar .calhead {
  font-weight: 400;
  padding: .75em 0;
  vertical-align:middle;
}

.yui-calendar .calheader {
	position:relative;
	width:100%;
	text-align:center;
}

.yui-calendar .calheader img {
	border:none;
}

.yui-calendar .calweekdaycell {
  font-weight: 400;
  text-align:center;
  width: 2.5em;
  padding: .5em;

  &:nth-child(6),
  &:nth-child(7) {
    color: $red;
  }
}

.yui-calendar .calfoot {
	background-color:#EEE;
}

.yui-calendar .calrowhead, .yui-calendar .calrowfoot {
	color:#666;
	font-size:9px;
	font-style:italic;
	width:15px;
}

.yui-calendar .calrowhead {
	border-right-width:2px;
}

/* Specific changes for calendar running under fonts/reset */
.yui-calendar .calbody a:hover {background:inherit;}
p#clear {clear:left; padding-top:10px;}
