.date-picker {
  display: inline-block;
  position: relative;
  width: 100%;

  &__icon {
    position: absolute;
    left: .5em;
    top: 50%;
    height: 18px;
    transform: translateY(-50%);
  }

  input {
    padding-left: 32px;
  }
}