.docs {
  &__item {
    display: inline-block;
    max-width: 47%;
    margin: 0 1% 3em;
    line-height: 1.3;
    vertical-align: top;

    @include breakpoint($tablet) {
      max-width: 260px;
      margin: 0 1.5em 3em;
    }
  }

  &__thumb {
    display: block;
    margin-bottom: 1em;
    padding: 10px;
    border: 1px solid rgba(black,.1);
    background: #fff;

    @include breakpoint($tablet) {
      padding: 20px;
    }
  }
}