textarea {
  font-size: 100%;
  font-family: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
}

.form {
  margin: 0 -1em;
  padding: 1em;
  background: white;
  border-top: 1px solid rgba(black, .15);
  border-bottom: 1px solid rgba(black, .15);

  @include breakpoint($tablet) {
    margin: 0 -1.5em;
    padding: 1em 2em;
    border: 1px solid rgba(black, .15);
  }

  &-control {
    @include placeholder-color;
    box-shadow: none;

    font-size: 1em;
    display: inline-block;
    border-color: $border-color;
    border-radius: 3px;

    &:focus {
      box-shadow: none;

      border-color: $blue;
    }

    &_type {
      &_date {
        position: relative;

        .calendar-toggle {
//          margin: 0 0 0 -30px;
        }

        input {
          width: 10em;
        }
      }
    }
  }
}

.checkbox {
  font-weight: normal;
  margin-right: 1.5em;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

select {
  font-size: 100%;
  font-family: inherit;
  padding: .43em .25em;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid;
  border-color: $border-color;
  transition: border $transfast;

  &:focus {
    outline: none;
    border-color: $blue;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
.uneditable-input {
  font-family: inherit;
  font-size: 100%;
  padding: .5em .5em;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid;
  border-color: $border-color;
  transition: border $transfast;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $blue;
  }
}

.calendar-toggle {
  display: inline-block;
  vertical-align: middle;
}

.formCaption {
  display: block;
  margin-bottom: .5em;

  @include breakpoint($tablet) {
    float: left;
    width: 33%;
  }
}

.formBody {
  display: block;

  @include breakpoint($tablet) {
    float: left;
  }
}

.formDescription {
  margin-left: 3px;
  padding-left: 3px;
  font-size: 11px;
  font-weight: normal;
}
