.header-gallery {
  position: relative;
  overflow: hidden;
  height: 240px;
  margin: 2em -2em 0;
  background: #4B3831;
  white-space: nowrap;
  box-shadow: 0 -1px 0 rgba(#4B3831, 0.5),
              0 -5px 20px rgba(0, 0, 0, 0.25);

  @include breakpoint($tablet) {
    height: 300px;
  }

  &__item {
    display: inline-block;
    width: 400px;
    height: 300px;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
  }
}