$icon-50-path: '/assets/images/icons/50x50/';

@charset "UTF-8";

@font-face {
  font-family: "Icons";
  src:url("/assets/fonts/rs-icons.eot");
  src:url("/assets/fonts/rs-icons.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/rs-icons.woff") format("woff"),
    url("/assets/fonts/rs-icons.ttf") format("truetype"),
    url("/assets/fonts/rs-icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "Icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rs-icon:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-thin:before {
  content: "a";
}
.icon-arrow-left-thin:before {
  content: "b";
}
.icon-bookmarks:before {
  content: "c";
}
.icon-bookmark:before {
  content: "d";
}
.icon-book-open:before {
  content: "e";
}
.icon-cancel:before {
  content: "f";
}
.icon-doc-text:before {
  content: "g";
}
.icon-left-open-big:before {
  content: "h";
}
.icon-location:before {
  content: "i";
}
.icon-menu:before {
  content: "j";
}
.icon-right-open-big:before {
  content: "k";
}
.icon-left-open:before {
  content: "l";
}
.icon-right-open:before {
  content: "m";
}

.icon {
  @include square(24px);

  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &_size {

    &_s {
      @include square(18px);
    }

    &_l {
      @include square(50px);
    }
  }

  &-washing-machine {
    background-image: url($icon-50-path + 'washing-machine.png');
  }

  &-tickets {
    background-image: url($icon-50-path + 'two-tickets.png');
  }

  &-taxi {
    background-image: url($icon-50-path + 'taxi.png');
  }

  &-fax {
    background-image: url($icon-50-path + 'fax.png');
  }

  &-print {
    background-image: url($icon-50-path + 'print.png');
  }

  &-safe {
    background-image: url($icon-50-path + 'safe.png');
  }

  &-passport {
    background-image: url($icon-50-path + 'passport.png');
  }

  &-calendar {
    background-image: url($icon-50-path + 'calendar.png');
  }
}

