.lang-list {
  position: absolute;
  top: -1em;
  left: -.5em;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  user-select: none;

  &__item {
    font-size: 12px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-transform: uppercase;

    &:first-child {

      &:after {
        @include pseudo;
        @include rect(1px, 14px);
        display: inline-block;
        margin: -2px 2px 0 5px;
        vertical-align: middle;
        background: #4B3831;
      }
    }

    &,
    &:hover {
      border: none;
    }
  }

  @include breakpoint($tablet) {
    top: 110px;
    left: 50%;
    margin-left: 170px;
  }

  &__icon {
    display: inline-block;
    height: 12px;
    margin: -3px 3px 0;
    vertical-align: middle;
  }
}