:link,
:visited {
  transition: all $transfast;
  border-bottom: 1px solid transparent;
  color: $link-color;

  &:hover {
    color: black;
    border-color: rgba(black, .5);
    text-decoration: none;
  }
}

.pseudo-link {
  cursor: pointer;
  color: #1e8fc6;
  border-bottom: 1px dotted;

  &:hover {
    color: #36a9e1;
  }
}
