.logo {
  display: inline-block;
  width: 120px;

  @include breakpoint($tablet) {
    width: auto;
  }

  &,
  &:link,
  &:visited,
  &:hover {
    border: 0;
    transition: none;

    img {
      border: none;
    }
  }
}
