.menu {
  transition: transform $transsmooth;
  position: fixed;
  overflow: auto;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  margin: 0;
  padding: 5em 0 0;
  background: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  transform: translateX(100%);

  &_visible {
    transform: translateX(0);
  }

  @include breakpoint($mobile) {
    width: 75%;
  }

  @include breakpoint($tablet) {
    font-size: 14px;
    font-weight: 400;
    display: block;
    position: relative;
    top: 0;
    width: auto;
    margin: 0;
    padding: 0;
    color: #1e1205;
    text-shadow: 0 1px 2px rgba(white, .75);
    transform: none;
    background: transparent;
    transition: none;
  }

  &:before {
    @include pseudo;
    @include rect(30%, 1px);

    display: none;
    margin: 1em auto 1.5em;
    background: rgba(#4B3831, .25);
    box-shadow: 0 1px 0 rgba(white, .75);

    @include breakpoint($tablet) {
      display: block;
    }
  }

  &__item {
    display: block;
    list-style: none;
    vertical-align: middle;
    margin-top: 1em;

    @include breakpoint($tablet) {
      display: inline-block;
      margin-top: .5em;

      &:after {
        @include pseudo;
        @include circle(5px);

        margin: -2px .75em 0;
        vertical-align: middle;
        box-shadow: 0 2px 2px white;
        background: rgba(#4B3831, .25);
      }
    }


    &:last-child {
      &:after {
        display: none;
      }
    }

    &.active {
      font-weight: 600;

      a {
        border-color: rgba(#186A22, .5);
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      color: #186A22;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        color: shade(#186A22, 25%);
        text-decoration: none;
        border-color: rgba(#186A22, .5);
      }
    }
  }

  &__close {
    @include square(44px);

    position: absolute;
    top: 1.75em;
    right: 1.25em;

    line-height: 44px;

    &:before {
      content: '\00d7';
      font-size: 32px;
    }

    @include breakpoint($tablet) {
      display: none;
    }
  }
}

.nav-toggle {
  $size: 32px;

  @extend .rs-icon;
  @extend .icon-menu;
  @include square($size);

  font-size: $size;
  position: absolute;
  top:50%;
  right: 10px;
  line-height: $size;
  transform: translate(0, -20px);

  @include breakpoint($tablet) {
    display: none;
  }
}
