.page {
  font: 87.25%/1.5 $sans-serif;
  background: #FAF3E0 url(../images/frieze.png) repeat-x;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  @include breakpoint($tablet) {
    padding-top: 16px;
  }

  &_no-scroll {
  	overflow: hidden;
  }
}
