.place {
  @include clearfix;
  
  margin-bottom: 1.5em;
  padding: 1.5em 1.5em 1.5em 200px;
  
  &__logo {
    float: left;
    margin: 0 -100% 0 -200px;
  }
  
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
