.pulldown {
  @include rect(132px, 48px);

  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  margin-top: -1px;
  background: url('../images/pulldown.png') 50% 0 no-repeat;
  transform: translateX(-50%);

  @include breakpoint($tablet) {
    display: block;
  }

  &__text {
    font-size: 12px;
    display: block;
    padding: 20px 3px 10px 3px;
    text-transform: uppercase;
    color: white;
    background: url('../images/envelope.png') 50% 20% no-repeat;

    a {
      &,
      &:hover {
        color: white;
      }

      &:hover {
        border-color: rgba(white, .5);
      }
    }
  }
}