.room {
  @include container;

  margin: 0 -1.5em 1.5em;
  padding: 1em 1.5em 2em;
  border: 1px solid rgba(black, .15);
  background: white;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    margin: 0;

    @include breakpoint($phablet) {
      float: left;
      margin: 0 0 1em;
    }
  }

  &-gallery {
    @include clearfix;
    clear: left;
    margin-bottom: 2em;

    @include breakpoint($tablet) {
      @include span(4 of 12 .75);
      padding-right: 1em;
    }

    &__item {
      @include span(4 of 12);

      position: relative;
      max-height: span(4 of 12);
      overflow: hidden;

      &:first-child {
        width: 100%;
        height: 0;
        margin-bottom: gutter();
        padding-top: 56.5%;

        .room-gallery__thumb {
        }
      }

      &:nth-child(4n) {
        @include last;
      }

      img {
        display: block;
        visibility: hidden;
        opacity: 0;
      }
    }

    &__thumb {
      @include stretch;

      display: inline-block;
      background-position: center;
      background-size: cover;
    }
  }

  &__details {

    @include breakpoint($tablet) {
      @include span(8 of 12 .75 last);
    }
  }

  &-services {
    @include clearfix;

    margin-bottom: 1.5em;

    &__item {
      @include clearfix;

      font-size: 13px;
      display: block;
      margin-bottom: 1.5em;
      padding-left: 36px;
      line-height: 1.3;

      @include breakpoint($mobile) {
        @include span(6 of 12 .5);
      }

      &:nth-child(odd) {
        margin-right:   0;
      }

      &-icon {
        @include square(24px);
        vertical-align: middle;
        float: left;
        margin: -3px -100% 0 -36px;
      }
    }
  }

  &__price {
    display: block;
    margin-bottom: 1em;
    color: $gray;

    @include breakpoint($phablet) {
      float: right;
      text-align: right;
      margin-bottom: 0;
    }

    .cost {
      font-family: $serif;
      font-size: 1.5em;
      color: $font-color;
    }
  }

  &__reserve_m {
    clear: both;
    margin-bottom: 2em;

    @include breakpoint($tablet) {
      display: none;
    }
  }
}

a.cat_nomer_capt {

}

.cat_nomer {
  @include clearfix;
}

.cat_nomer_item {
  font-size: 14px;
  height: 121px;
  background: white;
  margin-bottom: 1.5em;
  padding: 1em 1.5em 1em 170px;
  box-shadow: 0 0 0 1px rgba(black, .1);

  @include breakpoint($tablet) {
    font-size: 16px;
    padding-left: 200px;
  }

  @include breakpoint($desktop) {
    @include span(6 of 12 .5);

    margin-bottom: gutter(12 .5);

    &:nth-child(even) {
      margin-right: 0;
    }
  }


  a {
//    border: none;
  }
}

.cat_nomer_thumb {
  float: left;
  margin: -1em -100% 0 -170px;
  width: 150px;
  border: none !important;

  @include breakpoint($tablet) {
    margin-left: -200px;
    width: 183px;
  }
}

.cat_nomer_price {
  margin-bottom: .5em;

  .cost {
    font-weight: bold;
  }
}
