.services {

  @include breakpoint($mobile) {
    text-align: center;
  }

  &__item {
    display: inline-block;
    width: 100%;
    padding: 0 !important;
    margin: 0 0 2em !important;
    line-height: 1.3 !important;
    vertical-align: top;
    background: none !important;

    @include breakpoint($mobile) {
      text-align: center;
      width: 31%;
    }

    @include breakpoint($phablet) {
      width: 31%;
      padding: 1.5em 0 !important;
    }

    @include breakpoint($tablet) {
      width: 23%;
    }

    @include breakpoint($desktop) {
      padding: 1.5em !important;
    }
  }

  &__item-icon {
    @include square(34px);

    margin-right: 1em;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint($mobile) {
      display: block;
      margin: 0 auto 1em;
    }
  }
}
