.slider {
  position: relative;
  overflow: hidden;
  height: 320px;
  text-align: center;
  background: $smoke image-url('brick.jpg');
  background-position: 50% 10%;
  background-size: cover;

  @include breakpoint($tablet) {
    height: 500px;
    overflow: visible;
  }

  &__item {
    float: left;
    position: relative;
  }
}

.slick-prev,
.slick-next {
  @include square(auto);
  z-index: 10;
  
  &:before {
    font-size: 32px;
    color: #4B3831;  
  }
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slider_home {
  .slick-prev,
  .slick-next {
    top: 50%;
    margin: -.5em 0 0;

    color: white;
  }

  .slick-prev {
    left: 20px;

    @include breakpoint($tablet) {
      left: 1em;
    }
  }

  .slick-next {
    left: auto;
    right: 20px;

    @include breakpoint($tablet) {
      right: 1em;
    }
  }
}
