.speed-booking {
  font-weight: bold;
  position: relative;
  max-width: 1024px;
  margin: 2em auto 0;
  text-align: center;
  z-index: 15;

  @include breakpoint($tablet) {
    margin-bottom: -6em;
  }

  &__title {
    background: #7BCA99;
    display: inline-block;
    padding: .5em 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(white, .5);
    color: #186A22;
    border-radius: 2px 2px 0 0;
    background-image: linear-gradient(to bottom right, #7BCA99 0%, #56BE82 100%);
  }

  &__body {
    display: none;
    padding: 1em;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(black, .25);
    background-color: #7BCA99;
    background-image: linear-gradient(to bottom right, #7BCA99 0%, #00AE5D 100%);

    &_expanded {
      display: block;
    }

    @include breakpoint($tablet) {
      display: block;
      padding: 1em 0;
    }

    h2 {
      margin: 0 0 .5em;
      color: #186A22;
      text-shadow: 0 1px 0 rgba(white, .5);
    }

    p {
      color: #186A22;
      text-shadow: 0 1px 0 rgba(white, .5);
    }
  }

  &__form {

    input {
      font-size: 14px;
      border-color: #00A34B;
      width: 100%;
    }

    select {
      font-size: 14px;
      border-color: #00A34B;
    }
  }

  &__date {

    @include span(6);

    input {
      width: 100%;
      padding-left: 32px;

      @include breakpoint($tablet) {
        width: 9em;
      }
    }
  }

  &__phone {
    input {
      width: 100%;

      @include breakpoint($tablet) {
        width: 10em;
      }
    }
  }

  .button {
    border: none;
    margin-top: 1em;

    @include breakpoint($tablet) {
      margin: 0;
    }
  }

  .form-control {
    font-size: 13px;
    text-align: left;
    margin-bottom: .75em;
    width: 100%;

    &.speed-booking__date {
      @include span(6);

      &:nth-child(2) {
        @include last;
      }
    }

    &.speed-booking__email,
    &.speed-booking__phone {
      @include span(6);
    }

    &.speed-booking__phone {
      @include last;
    }

    select {
      width: 100%;
    }

    @include breakpoint($tablet) {
      &,
      &.speed-booking__date,
      &.speed-booking__email,
      &.speed-booking__phone {
        &,
        &:nth-child(2) {
          float: none;
          width: auto;
          margin: 0 .5em .75em 0;
        }
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .form-control__label {
    display: block;
    margin-bottom: .25em;
    letter-spacing: 2px;
    text-shadow: 0 1px 0 rgba(white, .5);
    color: #186A22;
    text-transform: uppercase;
  }
}