.title {
  &_level {
    &_1 {
      font-size: 1.5em;
      font-weight: 400;
      margin: 0 0 1em;
      text-align: center;
      line-height: 1.2;

      @include breakpoint($tablet) {
        font-size: 2em;
      }
    }

    &_2 {
      font-size: 1.125em;
      font-weight: 600;
      margin: 2em auto 1.75em;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center;
      line-height: 1.3;

      @include breakpoint($tablet) {
        font-size: 1.25em;
      }
    }

    &_3 {
      color: $font-color;
      font-family: $sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &_4 {
      font-family: $serif;
      font-size: 1.125em;
      font-style: italic;
      margin-bottom: 2em;
    }
  }
}
