<div class="footer">
   <div class="copyright">
    <div class="vcard">
      <div class="fn org"><b>Hotel Lermontov</b></div>
      <div class="adr"><span class="street-address">77 Lermontova street</span>, <br /> <span class="locality">Omsk</span>, <span class="country-name">Russia</span> <span class="postal-code">644070</span></div>
        <div class="tel">Tel.: <i class="value">+7 (3812) 37-22-11</i></div>
        <div class="fax">Fax: <i class="value">+7 (3812) 37-38-20</i></div>
      </div>
  </div>
</div>

[[$callback]]