<div class="footer">
   <div class="copyright">
    <div class="vcard">
      <div class="fn org"><b>Отель Лермонтов</b></div>
      <div class="adr"><span class="postal-code">644070</span>, <span class="country-name">Россия</span>,  <span class="locality">город Омск</span>, <span class="street-address">улица Лермонтова, д. 77</span></div>
      <div class="category">Гостиницы</div>
        <div class="tel">Тел.: <i class="value">+7 (3812) 37-22-11</i></div>
        <div class="fax">Факс: <i class="value">+7 (3812) 37-38-20</i></div>
        <a class="url" href="http://www.lermontov-hotel.ru">http://www.lermontov-hotel.ru</a>
      </div>
  </div>
<a href="[[~42]]">Информация, обязательная к размещению</a>
</div>
[[$callback]]