<div  class="header">
  <div class="pulldown">
    <div class="pulldown__text">
      <a href="[[~7]]">[[++cultureKey:is=`en`:then=`Contact Us`:else=`Написать нам`]]</a>
    </div>
  </div>
  <span class="header__address">[[++cultureKey:is=`en`:then=`77 Lermontova street, Omsk`:else=`Наш адрес: ул. Лермонтова, 77`]]</span>
  <span class="header__phone" style="font-size:22px;margin-top:-10px;line-height: 1;">[[++cultureKey:is=`en`:then=`+7-800-500-32-61`:else=`<span>8-800-500-32-61</span> <div style="font-size:14px;">круглосуточно, бесплатно</div>`]]</span>
  <div class="header__inner">
    <a href="/" class="logo"><img src="[[++static_url]]images/logo-green.png" /></a>
    <span class="nav-toggle"></span>
    <ul class="lang-list">
      [[++cultureKey:is=`ru`:then=`
      <span class="lang-list__item lang-list__item_active"><img class="lang-list__icon" src="[[++static_url]]images/icons/flag_ru.svg" alt="" />rus</span>
      <a href="http://en.lermontov-hotel.ru/" class="lang-list__item">eng<img class="lang-list__icon" src="[[++static_url]]images/icons/flag_gb.svg" alt="" /></a>
      `:else=`
      <a href="http://lermontov-hotel.ru/" class="lang-list__item"><img class="lang-list__icon" src="[[++static_url]]images/icons/flag_ru.svg" alt="" />rus</a>
      <span class="lang-list__item lang-list__item_active">eng<img class="lang-list__icon" src="[[++static_url]]images/icons/flag_gb.svg" alt="" /></span>
      `]]
    </ul>
    [[$menu]]
  </div>
  [[
  !If?
  &subject=`[[*id]]`
  &operator=`inarray`
  &operand=`6, 50`
  &then=``
  &else=`
  [[!If?
  &subject=`[[*template]]`
  &operator=`notequal`
  &operand=`4`
  &then=`[[![[++cultureKey:is=`en`:then=`$speed-booking_en`:else=`$speed-booking`]]]]`
  ]]
  `
  ]]
<div class="header-gallery">
[[Gallery? &album=`1`&thumbHeight=`600`&thumbWidth=`800`&useCss=`0`&thumbTpl=`header-gallery__item_c`&itemCls=`header-gallery__item_c`]]
</div>
</div>