[[Wayfinder?
&startId=`0`
&level=`1`
&outerTpl=`@CODE <div class="menu" id="mainmenu">[[+wf.wrapper]]<span class="menu__close"></span></div>`
&rowTpl=`@CODE <div[[+wf.id]][[+wf.classes]]><a href="[[+wf.link]]" title="[[+wf.title]]" [[+wf.attributes]]>[[+wf.linktext]]</a>[[+wf.wrapper]]</div>`
&rowClass=`menu__item`
&hereClass=`active`
]]