<div class="room-gallery__item">
<img src="[[resize? &input=`[[+asset_id]]` &options=`100x100`]]">
<a href="[[+Asset.url]]" rel="rokbox"><span class="room-gallery__thumb" style="background-image: url('[[+Asset.url]]')"></span></a></div>
