<div class="cat_nomer_item">
<a  class="cat_nomer_thumb" href="[[~[[+id]]]]"><img style="border: 0pt none;  margin-bottom: 10px;" mce_style="border: 0pt none;  margin-bottom: 10px;" class="pic" src="[[+tv.image]]" height="121" width="183"></a>
<a class="cat_nomer_capt" href="[[~[[+id]]]]">[[+pagetitle]]</a>
[[If?
&subject=`[[+tv.cost]]`
&operator=`notempty`
&then=`
<div class="cat_nomer_price"><span class="cost">[[+tv.cost]]</span>
[[++cultureKey:is=`en`:then=`rub/day&night`:else=`рублей/сутки`]]</div>
<a class="button cat_nomer_book" href="[[~[[+tv.book_page_id]]]]">[[++cultureKey:is=`en`:then=`Book now`:else=`Забронировать`]]</a>
`
]]
</div>
