<div class="room">
  <h3 class="room__name">[[+pagetitle]] [[!If?&subject=`[[*id]]`&operator=`eq`&operand=`14`&then=`([[+tv.room_category:ucfirst]])`]]</h3>
  <span class="room__price">
    <span class="cost">[[+tv.cost]]</span> [[++cultureKey:is=`en`:then=`rub/day&night`:else=`рублей/сутки`]]
  </span>
  <div class="clear"></div>
  <a class="room__reserve_m button" href="[[~[[*book_page_id]]]]">[[++cultureKey:is=`en`:then=`Book now`:else=`Забронировать`]]</a>
  [[!getPageAssets?
    &page_id=`[[+id]]`
    &is_image=`true`
    &outerTpl=`<div class="room-gallery">[[+content]]</div>`
  &innerTpl=`room-gallery__item`
  ]]
  <div class="room__details">
    [[!serviceIcons?&input=`[[+tv.services]]`]]
    <a class="button" href="[[~[[*book_page_id]]]]">[[++cultureKey:is=`en`:then=`Book now`:else=`Забронировать`]]</a>
  </div>
</div>
