.content {
  font-size: 16px;

  &.full {
    padding: 0;
  }

  &__inner {
    @include container;
    padding: 1.5em 1em 0;

    @include breakpoint($tablet) {
      padding: 2em 2em 0;
    }
  }

  ul {
    margin: 0 0 2em;
    padding: 0;
  }

  li {
    line-height: 1.4;
    list-style: none;
    margin: 0 1%;
    padding: 2px 0 3px 23px;
    background: url(../images/bullet_tick.png) 0px 0.3em no-repeat;
  }
}
