.footer {
  @include container(100%);

  padding: 1em 0 2em;
  text-align: center;

  @include breakpoint($tablet) {
    padding: 3em 0 5em;
    padding-bottom: 5em;
  }

  &:before {
    @include pseudo;
    @include rect(50%, 25px);

    display: block;
    margin: 0 auto;
    background: url(../images/footnotes.png) top center repeat-x;
    background-size: contain;
  }

  .copyright {
    margin: 0 auto 2em;
    width: 75%;

    @include breakpoint($tablet) {
      width: 50%;
    }
  }
}

.foot-nav {

  @include breakpoint($tablet) {
    @include span(6 of 12);
    @include post(3 of 12);
  }

  margin-bottom: 2em;

  .menu__item {
    font-family: $serif-italic;
    margin: 0 1em;
  }

  .menu__link {
    color: #555;
  }
}
