.header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 1em;
  margin: 0 auto;
  text-align: center;
  background: url(../images/header-stripes.png) repeat;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;

  @include breakpoint($tablet) {
    padding: 85px 2em 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75),
                0 5px 30px rgba(0, 0, 0, 0.5),
                0 1px 0 rgba(255,255,255,.75) inset,
                0 1px 10px rgba(0, 0, 0, 0.25) inset;
  }

  &__inner {
    position: relative;
  }

  &__phone,
  &__address {
    display: none;
    font-size: 16px;
    position: absolute;
    top: 1em;
    color: #4b2309;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  &__phone {
    left: 50%;
    margin-left: 135px;
    text-align: left;
  }

  &__address {
    text-align: right;
    width: 50%;
    left: 0;
    padding-right: 135px;
  }
}
