.section {
	&__content {
		@include container;

    padding: 1em 20px;

    @include breakpoint($tablet) {
      padding: 1em 2em;
    }

    .section_tall & {
      padding: 3em 2em 4em;

      @include breakpoint($tablet) {
        padding: 6em 2em;
      }      
    }
	}

  &__title {
    font-size: 24px;
    font-weight: 600;
    max-width: 560px;
    margin: 1em auto .75em;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;

    &:after {
      @include pseudo;
      @include separator(30px, 1em, $gray);
    }
  }

  &__copy {
    font-family: $serif-italic;
    font-size: 16px;
    max-width: 560px;
    margin: 0 auto 1.5em;
    text-align: center;
    color: #555;

    @include breakpoint($tablet) {
      margin: 0 auto 3em;
    } 
  }
}