.sidebar {
  background: $bg;
  padding: 0 10px;

  @include breakpoint($tablet) {
    float: left;
    position: fixed;
    width: $sidebar-width-min;
    padding: 10px 10px 3em;
    top: $navbar-height;
    left: 0;
    bottom: 0;
  }

  @include breakpoint(992px) {
    width: $sidebar-width;
  }
}