		<tr><td style="background: url('/assets/images/bottom.jpg') no-repeat" width="486" height="26"></tr>
		<tr><td>						<div class="copyright" style="float:left; margin:15px 0px 40px 10px"><div class="vcard"><div class="fn org"><b>Отель Лермонтов</b></div><div class="adr"><span class="postal-code">644070</span>, <span class="country-name">Россия</span>, <span class="locality">город Омск</span>,<span class="street-address">улица Лермонтова, д. 77</span></div><div><span class="category">Гостиницы</span></div><div><span class="tel"><i class="value">+7 (3812) 37-22-11</i></span></div><a class="url" href="http://www.lermontov-hotel.ru">http://www.lermontov-hotel.ru</a></div></div>
		</td></tr>
