<tr align="center" style="background: url('/assets/images/bg2.jpg')">
	  <td>
	     <table width="846" height="195" cellpadding="0" cellspacing="0" align="center">
		   <tr><td width="384"><a href="/"><img src="/assets/images/logo.jpg" width="384" height="195" border="0" /></a></td>
	       <td width="462" height="195"><div class="contact" align="right">Омск. ул. Лермонтова 77 | +7 (3812) 37-22-11<br>www.lermontov-hotel.ru</div></td></tr>
		 </table>
	  </td>
</tr>
<tr>
	  <td style="background: url('/assets/images/verh_content.jpg') no-repeat" width="846" height="26"></td>
		</tr>
		<tr><td style="background: url('/assets/images/fon_menu.jpg') repeat-y">
		   <table width="846" height="27" cellpadding="0" cellspacing="0" align="center">
		     <tr>
			 <td width="106" height="27">&nbsp;</td>
			 [[$menu]]
			 <td width="130">&nbsp;</td>
			 </tr>
		   </table>
		</td>
		</tr>
