<div class="cat_nomer_item">
<a class="cat_nomer_capt" mce_href="/standarteco.html" href="/standarteco.html">[[+pagetitle]]</a>
<a href="[[~[[+id]]]]"><img style="border: 0pt none;  margin-bottom: 10px;" mce_style="border: 0pt none;  margin-bottom: 10px;" class="pic" src="[[+tv.image]]" height="121" width="183"></a>
</div>
