/*
SlidingDoors CSS by
Douglas Bowman
http://www.stopdesign.com
http://www.alistapart.com/articles/slidingdoors2/
*/

#menu {
  float:left;
  width:100%;
  background:#DAE0D2 url("images/bg.gif") repeat-x bottom;
  font-size:93%;
  line-height:normal;
  }
#menu ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#menu li {
  float:left;
  background:url("images/left_both.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  border-bottom:1px solid #765;
  }
#menu a {
  float:left;
  display:block;
  width:.1em;
  background:url("images/right_both.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  }
#menu > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a {float:none;}
/* End IE5-Mac hack */
#menu a:hover {
  color:#333;
  }
#menu li.current {
  background-position:0 -150px;
  border-width:0;
  }
#menu li.current a {
  background-position:100% -150px;
  padding-bottom:5px;
  color:#333;
  }
#menu li:hover, #header li:hover a {
  background-position:0% -150px;
  color:#333;
  }
#menu li:hover a {
  background-position:100% -150px;
  }
